main {
  background: #193541;
}

.about-hero {
  background-image: url(../images/nature.jpeg);
  background-size: cover;
  /* background-repeat and background position x, check if needed */
  background-repeat: no-repeat;
  background-position-x: center;
  height: 89.5vh;
  display: flex;
  align-items: center;
}

.about-hero h1 {
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 200px;
}

.about p,
.about i {
  color: var(--color-primary);
}

.about {
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

.about-content-list {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  margin: 26px 0;
}

.about-content {
  background-color: var(--color-secondary);
  border-radius: 50px;
  padding: 26px;
  text-align: center;
}

.about-content h2 {
  font-weight: bold;
}

.about-content i {
  display: flex;
  justify-content: center;
  padding: 25px;
}
.images-section {
  grid-area: images;
  display: grid;
  grid-template-columns: 1fr 15fr 1fr;
  grid-template-areas: ". images .";
  background: #dddddd;
}

.about-images {
  grid-area: images;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin: 56px 0;
}

.images {
  width: 20.5vw;
  height: 19.5vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}
