main {
  background: #193541;
}

.about-hero {
  background-image: url(../images/nature-new.jpg);
  background-size: cover;
  /* background-repeat and background position x, check if needed */
  background-repeat: no-repeat;
  background-position-x: center;
  height: 65.5vh;
  display: flex;
  align-items: center;
}

.about-hero h1 {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  position: absolute;
  padding: 10px 25px;
  top: 200px;
}

.about-section {
  padding: 14px 25px;
}

.about-list {
  background-color: var(--color-secondary);
  border-radius: 50px;
  max-width: 1000px;
  margin: auto;
  padding: 25px;
}

.about p,
.about i {
  color: var(--color-primary);
}

.about p {
  padding: 18px;
  margin-bottom: 25px;
}

.about i {
  display: flex;
  justify-content: center;
}

.about h2 {
  text-align: center;
  padding: 18px;
}

.images-section {
  display: grid;
  background: #dddddd;
}

.about-images {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 28px;
  margin: 56px;
}

.images {
  width: 20.5vw;
  height: 19.5vw;
  object-fit: cover;
  object-position: center;
  border-radius: 50px;
}
