.fav-and-shopping {
  margin-bottom: 0;
}

main {
  color: var(--color-primary);
  padding: 25px;
  max-width: 1000px;
  margin: auto;
}

.payment-form {
  background: #dddddd;
  display: grid;
  grid-template-columns: 50% 50%;
}

.checkout-details h1,
.checkout-details h2 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
}

.checkout-details i {
  display: flex;
  justify-content: center;
  font-size: 86px;
  margin: 25px;
  box-shadow: 5px 1;
}

.checkout-details i {
  color: var(--color-primary);
}
.payment-details {
  color: var(--color-primary);
}

.payment-details h2 {
  padding-bottom: 25px;
}

.payment-form input {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.personal-info,
.billing-info {
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.one-line {
  display: flex;
  flex-wrap: wrap;
}

.one-line-content {
  display: flex;
  flex-direction: column;
}

.one-line :first-child {
  margin-right: 5px;
}

.one-line div {
  display: flex;
  flex-direction: column;
}

.button-small {
  margin-top: 25px;
}

label,
.one-line {
  margin-top: 10px;
}

main form {
  display: flex;
  justify-content: flex-end;
}
