main {
  background: transparent linear-gradient(151deg, #95b7d9 0%, #4b5c6d 100%) 0%
    0% no-repeat padding-box;
  padding: 25px;
}

.contact {
  background: var(--color-secondary);
  border-radius: 60px;
  text-align: center;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.contact-info p {
  color: var(--color-primary);
}

.contact-info i {
  color: var(--color-primary);
  font-size: 100px;
  padding: 25px;
}

.contact-info h1,
.contact-info h2,
.contact-info p {
  margin: 28px;
}

.contact-form h2 {
  padding: 25px;
}

.form-wrapper input,
form textarea {
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
}

.form-wrapper {
  color: var(--color-primary);
  display: flex;
  flex-direction: column;
  padding: 25px;
}
.form-wrapper label {
  text-align: left;
}

.formMessage {
  background: green;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

button:disabled {
  background: lightgray;
}
