@media (max-width: 800px) {
  /* Index-site*/
  .welcome-content h1 {
    font-size: 42px;
  }

  .welcome-content h2 {
    font-size: 18px;
  }

  .button-men,
  .button-woman {
    font-size: 1.5em;
    padding: 16px 0;
    min-width: 200px;
  }

  /*product-list-site*/
  .product-list-men,
  .product-list-woman {
    grid-template-columns: repeat(2, 1fr);
  }

  /*product-specific page*/
  .product-men-section,
  .product-woman-section {
    grid-template-columns: 1fr 2fr;
  }

  .product-img-men img,
  .product-img-woman img {
    max-width: 75%;
  }

  .button-small {
    padding: 10px 48px;
  }
  .reviews-one,
  .reviews-two {
    grid-template-columns: 1fr 2fr 1fr;
  }

  /*shopping-cart-page*/
  .shopping-cart-items {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .cart {
    display: flex;
  }

  /*checkout-page*/
  .payment-form {
    display: block;
  }

  /*thankyou-purhase-page*/ /*thankyou-contact-page*/
  .thankyou-text {
    padding: 72px 24px;
  }

  .thankyou-text h1,
  .thankyou-text-contact h1 {
    font-size: 32px;
  }

  /*about-us-page*/
  .images-section {
    display: none;
  }

  /*contact-page*/
  .contact {
    display: block;
  }

  .contact-info h1 {
    font-size: 32px;
  }

  .contact-info h2 {
    font-size: 22px;
  }

  .contact-info i {
    padding-top: 12px;
  }

  .contact-info h1,
  .contact-info h2,
  .contact-info p {
    margin: 12px;
  }

  .contact-form h2 {
    padding: 12px;
  }

  .form-wrapper {
    padding: 12px;
  }

  /*login-page*/
  .login-section {
    grid-template-columns: 1fr;
  }

  .sign-in,
  .create-account {
    border-radius: 60px;
  }

  .sign-in {
    margin-bottom: 25px;
  }

  .sign-in h2,
  .sign-in p {
    margin: 16px;
  }
}

@media (max-width: 480px) {
  /* Index-site*/
  .welcome-content h1 {
    font-size: 32px;
  }

  .hero-cta {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }

  .button-men {
    margin: 25px 0;
  }

  /*product-list-site*/
  .man-hero h1,
  .woman-hero h1 {
    font-size: 28px;
  }

  .products-men,
  .products-woman {
    padding: 12px 45px;
  }

  .product-list-men,
  .product-list-woman {
    grid-template-columns: 1fr;
  }

  /*product-specific page*/
  .product-woman-section,
  .product-men-section {
    grid-template-columns: 1fr;
  }

  .product-img-men img,
  .product-img-woman img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  .product-info-woman,
  .product-info-men {
    margin: 0 12px;
  }

  .button-small {
    padding: 10px 94px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .primary-info {
    margin: 12px 0;
  }

  .reviews-one,
  .reviews-two {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /*product-specific page*/
  .shopping-cart-items {
    display: block;
  }

  /*shopping-cart-page*/
  .button-small {
    padding: 10px 62px;
  }

  /*about-us-page*/
  .images-section {
    display: none;
  }

  .about-hero h1 {
    font-size: 28px;
  }

  /*contact-page*/
  /*1px padding bottom, because of margin bug in chrome*/
  .contact-form form {
    padding-bottom: 1px;
  }

  /*login-page*/
}
