main {
  background: transparent linear-gradient(130deg, #95b7d9 0%, #4b5c6d 100%);
}

.man-hero {
  background-image: url(../images/kal-visuals-swFhUaDUVl0-unsplash.jpg);
  background-size: cover;
  /* background-repeat and background position x, check if needed */
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 62%;
  height: 89.5vh;
  display: flex;
  align-items: center;
}

.man-hero h1 {
  color: #ffffff;
  position: absolute;
  left: 25px;
  top: 200px;
}

.products {
  display: flex;
  justify-content: center;
  padding: 0 25px;
}

.product-list-men {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 26px;
  margin: 26px 0;
}

.products-men p {
  color: var(--color-primary);
}

.products-men {
  background-color: white;
  border-radius: 37px;
  padding: 30px 45px;
  box-shadow: 6px 3px 11px #00000093;
  text-decoration: none;
}

.products-men p:last-child {
  margin-top: 30px;
  font-weight: 600;
}

.products-men h2 {
  margin-top: 16px;
}

.products-men i {
  color: #7b6428;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
}
