.man-hero {
  background-image: url(../images/kal-visuals-swFhUaDUVl0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 62%;
  height: 89.5vh;
  display: flex;
  align-items: center;
}

.man-hero h1,
h2 {
  color: #ffffff;
  margin-left: 100px;
}
