main {
  background: transparent linear-gradient(130deg, #95b7d9 0%, #4b5c6d 100%);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas:
    "hero hero hero"
    ". productList .";
}

.man-hero {
  grid-area: hero;
  background-image: url(../images/kal-visuals-swFhUaDUVl0-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 62%;
  height: 89.5vh;
  display: flex;
  align-items: center;
}

.man-hero h1 {
  color: #ffffff;
  margin-left: 100px;
}

.product-list {
  grid-area: productList;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 56px;
}
.products p {
  color: var(--color-primary);
}
.products {
  background-color: white;
  width: 414px;
  height: 655px;
  border-radius: 37px;
}
