main {
  padding: 25px;
}

.product-woman-section {
  background: #95b7d9;
  border-radius: 60px;
  max-width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.primary-info {
  margin: 25px 0;
}

.primary-info h1 {
  font-size: 30px;
  font-weight: bold;
}

.secendary-info {
  margin: 25px 0;
}

.stars {
  display: flex;
  margin: 25px 0;
}

.stars i {
  margin-right: 8px;
  color: var(--color-primary);
}

.product-info-woman p {
  color: var(--color-primary);
}

.product-info-woman i {
  fill: var(--color-primary);
}

.product-img-woman img {
  margin-left: 14px;
  max-width: 75%;
}

.woman-color {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}

input[type="radio"] {
  transform: scale(2);
  margin-right: 12px;
}

.pink-color {
  margin-bottom: 16px;
}

.reviews {
  max-width: 1000px;
  margin: auto;
}

.reviews,
.reviews-bar,
.reviews p {
  color: var(--color-primary);
}

.reviews-bar {
  border: solid 1px;
}

.reviews-bar p {
  font-weight: bold;
}

.fa-user-circle {
  font-size: 50px;
  margin-top: 25px;
}

.reviews h2 {
  margin: 25px 0;
}

.reviews-user {
  margin: 25px 0;
}

progress {
  -webkit-appearance: none;
  width: 100%;
}

::-webkit-progress-bar {
  background-color: #ffffff;
  height: 25px;
  border: solid 0.5px;
}

::-webkit-progress-value {
  background-color: var(--color-primary);
}

.reviews-one,
.reviews-two {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  margin: 25px;
}

.reviews-one p:last-child,
.reviews-two p:last-child {
  text-align: center;
}
