@import "imports/variables.css";

body {
  font-family: var(--body-font), Helvetica, sans-serif;
  font-size: 18px;
  color: var(--body-font-color);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font), "Times New Roman", Times, serif;
  color: var(--header-font-color);
  margin: 0px;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

header {
  background-color: #0c3642;
  color: var(--body-font-color);
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr 3fr;
  padding: 14px 100px 0 100px;
  min-height: 10.5vh;
}

.logo-link {
  padding: 0px;
  height: 96px;
}

header a {
  color: white;
  padding: 26px;
}

.logo {
  height: 96px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav li {
  display: inline;
}

nav a {
  text-decoration-line: none;
}

.current {
  text-decoration: underline;
}

.search {
  padding-right: 8px;
}

ul {
  margin-block-end: auto;
}

.fav-and-shopping li:last-child {
  margin-left: 12px;
}

footer {
  background-color: #183541;
  padding-bottom: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  background-color: #1d76a1;
  padding: 14px 100px 0px 100px;
}
